@import '../../node_modules/platypusui/dist/platypus';

@import '../src/viewcontrols/home/home.vc.less';

         /* variables */
        @primaryColor: #373F51;
        @secondaryColor: #A9BCD0;
        @thirdColor: #D8DBE2;
        @fourthColor: #58a4b0;
        @black: #1B1B1E;
        /* variables */

        .left {
            float: left;
            font-weight: bold;
            font-size: 1.5em;
        }
       .right {
            float: right;
        }
        .nav {
           text-align: center;
           background-color: #fff;
           width: 100%;
           position: fixed;
           line-height: 4em;
           z-index: 9999;
           box-shadow: 0 4px 2px -2px @thirdColor;
           font-family: 'Playfair Display', serif;
        }  
        #box-shadow-menu {
            display: none;
        }    
        @media only screen and (max-width: 900px) {
            #hider {
                display: none;
            }
            #box-shadow-menu {
                padding-left: 1.25em;
                display: inline;
                float: right;
                }
            #box-shadow-menu:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.25em;
                width: 1em;
                height: 0.15em;
                background: #6E6E6E;
                box-shadow: 
                    0 0.25em 0 0 #6E6E6E,
                    0 0.5em 0 0 #6E6E6E;
                }      
        }
        .nav li {
            list-style: none;
            display: inline;
            margin: -0.2em 2em 0 2em;
            text-transform: uppercase;
            vertical-align: middle;
        }
        .nav li a {
            color: #6E6E6E;
        }
