& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="my-navbar"] {
                /* variables */
        @primaryColor: #373F51;
        @secondaryColor: #A9BCD0;
        @thirdColor: #D8DBE2;
        @fourthColor: #58a4b0;
        @black: #1B1B1E;
        @navbar-height: 3.5em;
        /* variables */
        .nav {
            text-align: center;
            height: @navbar-height;
        }
        
       ul.nav-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #fff;
            position: fixed;
            width: 100%;
            z-index: 999;
            box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
        }

        ul.nav-links li {
            display: inline-block;
            text-align: center;
            }

        ul.nav-links li a {
            display: inline-block;
            color: @black;
            text-align: center;
            padding: 1em 1em;
            text-decoration: none;
            transition: 0.3s;
            font-size: 1.2em;
        }

        ul.nav-links li a:hover {
            background-color: @black;
            color: #fff;
            }

        ul.nav-links li.icon {
            display: none;
            }
        
        @media screen and (max-width:680px) {
            ul.nav-links li:not(:nth-child(4)) {
                display: none;
                }
            ul.nav-links li.icon {
                float: right;
                display: inline-block;
         }
        }
        @media screen and (max-width:680px) {
            ul.nav-links.responsive {
                position: relative;
                }
            ul.nav-links.responsive li.icon {
                position: absolute;
                right: 0;
                top: 0;
            }          
        }
        ul.nav-links.responsive li {
            float: none;
            display: inline;
        }
        ul.nav-links.responsive li a {
            display: block;
            text-align: left;
        }
    }
                               
        
} 
    

    

