& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="my-navbar"] {
                /* variables */
        @primaryColor: #373F51;
        @secondaryColor: #A9BCD0;
        @thirdColor: #D8DBE2;
        @fourthColor: #58a4b0;
        @black: #1B1B1E;
        @navbar-height: 3.5em;
        /* variables */
        #burger {   
             display: none;
             height: 2em;
             width: 2em; 
             vertical-align: middle;
             padding-right: 1em;
        }
        .hamburglar {
            height: @navbar-height;
            width: 1em;
        }      
        @media only screen and (max-width: 900px) {
            #hider {
                display: none;
            }
            #burger {
                display: initial;
            }
        }
        @media only screen and (max-width: 240px) {
            .logo {
                display: none;
            }
        }
        .nav {
            position: fixed;
            z-index: 999;
            width: 100%;
            height: @navbar-height;
            line-height: @navbar-height;
            background-color: #fff;
            color: grey;
            text-align: right;
            box-shadow: 0 2px 3px @thirdColor;
            .logo {
                float: left;
                width: 10em;
                text-align: center;
                height: @navbar-height;
                a {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 0;
                    padding-left: 0.3em;                   
                    font-size: 1.8em;
                }
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li {
                display: inline-block;
                padding: 0 1.5em;
            }
            a {
                color: grey;
                &:hover {
                    color: black;
                    transition: color 0.4s ease;
                }
            }                            
        }
        
    }
}
    

