& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {
        /* variables */
        @primaryColor: #373F51;
        @secondaryColor: #0E3386;
        @thirdColor: #D8DBE2;
        @fourthColor: #58a4b0;
        @black: #1B1B1E;
        /* variables */         
        .container {
            font-family: 'Playfair Display', serif;
            position: relative;
            top: 2em;
        }
        @media screen and (max-width: 900px) {
            hr {
                display: none;
            }
        }
        .header-view {
            background: url('../../images/background3.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            color: #fff;
            padding: 5em 0;
            height: 70vh;
            .info {
                padding: 17.5vh 0;
              h1 {
                margin-top: -2em;
            }
              h3 {
                margin-top: 8em;
            }
            }
        }
        // #pic {
        //     height: 15em;
        //     width: 11.5em;
        //     border-radius: 20%;
        //     -webkit-border-radius: 20%;
        //     -moz-border-radius: 20%;
        // }     
        .experience {
            text-align: center;
            padding: 2em 0 2em 0;
            color: @black;
            h2 {
            padding: 0;
             }
             p {
            width: 70%;
            margin: 0 auto;
            }
        }
        #depot, #unc {
            height: 5em;
            width: 18em;
        }
        #zoom, #loot {
            height: 4.5em;
            width: 16em;
        }
        #skills  {
            background-color: @black;
            color: #A9BCD0;
            padding: 5em 0 5em 0;
            h2 {
                text-align: center;
                padding: 0;
            }
            ul {
                display: table;
                margin: 0 auto;
                font-size: 2em;
            }
        }
        #biz-e {
            height: 6.5em;
            width: 6.5em;
        }
        hr {
            border: 0;
            height: 1px;
            width: 75%;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        .blue-hr {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        #jobs {
            background-color: #fff;       
        }
        #cpc {
            height: 5em;
            width: 5em;
        }
        .footer {
            text-align: center;
            background-color: #fff;
            padding: 2em 0 2em 0;
            border-top: 1px solid @black;
            p {
            margin: 0;
            }
            a {
                color: #6E6E6E;
            }
            a:hover {
                color: @black;
                transition: color 0.4s ease;
            }
        }
        .linked-in p {
            margin-bottom: 0.25em;
        }
        .foot-icon {
            height: 2em;
            width: 2em;
        }
    }
}
